body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
  font-family: Georgia;
  font-size: 300%;
}
h2 {
text-align: center;
color: white;
}
h3 {
text-align: center;
}
h4 {
text-align: center;
}
h5 {
text-align: center;
}
h6 {
text-align-last: center;
}
p {
text-decoration-color: white;
color: lightyellow;
}
.pantun {
  text-align: center;
}